.Resume{
    justify-content: space-evenly;
    display: flex;
    text-align: center;

}





#section{
    background-color: none;
    border-radius: 10px;
}



#Resume{
    color:black;
    text-align: center;
}
#navbar{
    color:black;
    text-align: center;
    font-size: 20px;
}

#navbar1{
    text-align: center;
}


#logo{
    margin: 34px 45px;/* 34px 45px;*/
}





#logo img{
    height: 59px;/*60*/
    margin: 40px 60px;
    
}

/*#btn{
        padding: 4px 14px;
        border: 2px solid white;
        background-color: brown;
        color: white;
        margin: 17px;
        font-size: 1.5rem;
        border-radius: 10px;
        cursor: pointer;
}*/
.bttn{
    background-color: rgb(228, 190, 16);
    padding: 4px 14px;
    margin-bottom: 18px;
    
}

.h-primary{
    font-family: 'Bree Serif',serif;
    font-size: 3.8rem;
    padding: 12px;
    /*margin-top: 31px;*/
}


#services .box img{
    width: 160px;/*add kely*/
    height: 170px;/*156px*/
    margin: auto;
    display: block;/*flex*/
}


#services .men1{
    border: 2px solid brown;
   padding: 34px;
   margin: 3px 6px;
   border-radius:23px ;
   background-color: #f2f2f2;
}


.lang{
    justify-content: space-evenly;
    display: flex;
    text-align: center;
}
.about{
    justify-content: space-evenly;
    display: flex;
    text-align: center;

}

